*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}



.pls{
    position: absolute;
}

.text{
    position: absolute;
    color:white;
    
}

h2{
    padding-top: 15%;
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-family: 'Abril Fatface', cursive;
}

h3{
    font-size: 30px;
    top:10px;
    bottom: 10px;

}
p{
    margin-top: 20px;
    font-size: 20px;
}


.block-1{
    background: url(https://images.reverb.com/image/upload/s--2147EB5n--/f_auto,t_large/v1554732923/zac6nmzsacendbxxkzlb.jpg);
    
    
}
.block-2{
    background: url(https://www.americanmusical.com/ItemImages/SerialNumbers/233875%2F233875-Generic-2-HiRes.jpg);
}

.block-3{
    background: url(https://images.reverb.com/image/upload/s--Rl9UyvqC--/f_auto,t_large/v1551032215/abgk7cf2id4fa88pbbr0.jpg);
}



.block-4{
    background: url(https://images.reverb.com/image/upload/s--ghAcEcjy--/f_auto,t_large/v1534088885/vv2kr5oxrpe0djmdcuwa.jpg);
   
}



.block{
    background-position: 60% 0;
    flex-grow: 1;
    transition: all 1s;
    position: relative;
}

.block:hover{
    flex-grow: 2;
    transition: all 1s;
}

.btn0{
    position: absolute;
    color: white;
    text-shadow: 3px 3px 1px black;
    border-radius: 10%;
    border: 0;
    font-size:30px;
    z-index: 1;
    margin-top: 700px;
    margin-left: 700px;
    font-family: 'Abril Fatface', cursive;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.btn{
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 20px;
    padding-top: 5%;
    margin-left: 45%;
    text-shadow: 3px 3px 1px black;
    font-family: 'Abril Fatface', cursive;
    transition: all 1s;
    
    

    
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    

}

.btn:hover{
    transform: scale(1.3);
    transition: all 1s;
}


.modalwin { 
    height: 450px;  
    width: 500px;
    background: black, .8 ;
    top: 10%; /* отступ сверху */
    right: 0;
    left: 0;
    font-size: 14px; 
    margin: 0 auto;
    z-index: 2; /* поверх всех */
    border:#000;
    display:none;  /* сначала невидим */
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 15px;
}
#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.9; /*прозрачность*/
    left:0;
    top:0;
}

#popupWin{
    height: 620px;

}

#popupWin1{
    height: 400px;

}

#popupWin2{
    height: 380px;

}

#popupWin3{
    height: 200px;

}


